body {
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    padding-inline: 32px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    max-width: 1400px;
    margin-inline: auto;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
}

.nav-user-container {
    display: flex;
    flex-grow: 1;
}

a {
    text-decoration-line: none;
    color: inherit;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
    margin: 0;
}

nav {
    margin-inline: auto;
}

nav>ul {
    display: flex;
    gap: 48px;
}

nav>ul>li {
    padding-block: 20px;
    font-size: 18px;
    color: #3B3A3C;
}

.user {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
}

.user-icon {
    display: flex;
    position: relative;
}

.close-icon,
.hamburger-menu {
    display: none;
}

#hamburger-checkbox {
    display: none;
}

@media (max-width: 860px) {
    header {
        padding-inline: 16px;
    }

    .close-icon,
    .hamburger-menu {
        display: block;
    }

    .close-icon {
        margin-left: auto;
        cursor: pointer;
    }

    header>div {
        padding-block: 6px;
    }

    .nav-user-container {
        display: none;
        position: absolute;
        top: 10px;
        right: 0;
        flex-direction: column-reverse;
        border-radius: 5px;
        border: 1.5px solid #e9eaeb;
        background: #fff;
        box-shadow: 0px 4px 10px 0px rgba(30, 27, 27, 0.1);
        width: 260px;
        z-index: 99;
    }


    input:checked+.nav-user-container {
        display: flex;
    }

    nav>ul {
        flex-direction: column;
        gap: 0;
    }

    nav {
        margin-inline: unset;
        padding-left: 24px;
    }

    nav>ul>li {
        padding-block: 8px;
    }

    .user {
        border-bottom: 1px solid #e9eaeb;
        padding-inline: 24px;
        padding-block: 8px;
    }
}

/* carousel css */
.wrapper-slide {
    /* max-width: 60em; */
    /* margin: 1em auto; */
    position: relative;
}

input {
    display: none;
}

.inner {
    width: 500%;
    line-height: 0;
}

article {
    width: 20%;
    float: left;
    position: relative;
}

article img {
    width: 100%;
}

/*---- SET UP CONTROL ----*/

.slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-prev-next-control label {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.7;
}

.slider-prev-next-control label:hover {
    opacity: 1;
}

.slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.slider-dot-control label:hover {
    background: #ccc;
    border-color: #777;
}

/* Info Box */
.info {
    position: absolute;
    line-height: 20px;
    opacity: 0;
    color: #ffff;
    text-align: left;
    -webkit-transition: all 1000ms ease-out 600ms;
    -moz-transition: all 1000ms ease-out 600ms;
    transition: all 1000ms ease-out 600ms;
}

.info h3 {
    font-style: italic;
    color: #ffff;
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    font-style: Snell;
}

.info p {
    font-style: Vonca;
    color: #ffff;
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 90px;
    line-height: 80px;
}

.info .slide-btn {
    background-color: #BF2525;
    color: #ffff;
    font-size: 12px;
    font-weight: 600;
    padding: 20px 24px 20px 24px;
    border: none;
    gap: 10px;
    opacity: 0px;

}

.info.bottom-left {
    bottom: 90px;
    left: 70px;
}

.info.bottom-right {
    bottom: 90px;
    right: 70px;
}

/* Slider Styling */
.slider-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    background: #fff;
    background: #fcfff4;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
#slide5:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slide5:checked~.slider-prev-next-control label:nth-child(1)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide1:checked~.slider-prev-next-control label:nth-child(2)::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777;
}

#slide5:checked~.slider-prev-next-control label:nth-child(1)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide1:checked~.slider-prev-next-control label:nth-child(2)::after {
    content: "";
    padding-left: 8px;
}

#slide5:checked~.slider-prev-next-control label:nth-child(1),
#slide4:checked~.slider-prev-next-control label:nth-child(5),
#slide3:checked~.slider-prev-next-control label:nth-child(4),
#slide2:checked~.slider-prev-next-control label:nth-child(3),
#slide1:checked~.slider-prev-next-control label:nth-child(2) {
    display: block;
    float: right;
    margin-right: 5px;
}

#slide1:checked~.slider-prev-next-control label:nth-child(5),
#slide5:checked~.slider-prev-next-control label:nth-child(4),
#slide4:checked~.slider-prev-next-control label:nth-child(3),
#slide3:checked~.slider-prev-next-control label:nth-child(2),
#slide2:checked~.slider-prev-next-control label:nth-child(1) {
    display: block;
    float: left;
    margin-left: 5px;
}

#slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
#slide5:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(1)::after {
    content: "";
    padding-left: 8px;
}

#slide5:checked~.slider-dot-control label:nth-child(5),
#slide4:checked~.slider-dot-control label:nth-child(4),
#slide3:checked~.slider-dot-control label:nth-child(3),
#slide2:checked~.slider-dot-control label:nth-child(2),
#slide1:checked~.slider-dot-control label:nth-child(1) {
    background: #333;
}

#slide5:checked~.slider-wrapper article:nth-child(5) .info,
#slide4:checked~.slider-wrapper article:nth-child(4) .info,
#slide3:checked~.slider-wrapper article:nth-child(3) .info,
#slide2:checked~.slider-wrapper article:nth-child(2) .info,
#slide1:checked~.slider-wrapper article:nth-child(1) .info {
    opacity: 1;
}

#slide1:checked~.slider-wrapper .inner {
    margin-left: 0%;
}

#slide2:checked~.slider-wrapper .inner {
    margin-left: -100%;
}

#slide3:checked~.slider-wrapper .inner {
    margin-left: -200%;
}

#slide4:checked~.slider-wrapper .inner {
    margin-left: -300%;
}

#slide5:checked~.slider-wrapper .inner {
    margin-left: -400%;
}

/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
    .slider-wrapper {
        border-radius: 0;
    }

    .info h3 {
        font-size: 30px;
        line-height: 30px;
    }

    .info p {
        font-size: 60px;
        line-height: 50px;
    }

    .info .slide-btn {
        font-size: 12px;
        font-weight: 600;
        padding: 20px;
    }

    .info.bottom-left {
        bottom: 30px;
        left: 50px;
    }

    .info.bottom-right {
        bottom: 30px;
        right: 30px;
    }
}

/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
    .slider-wrapper {
        border-radius: 0;
    }

    .slider-wrapper .info {
        opacity: 0;
    }

    .info h3 {
        font-size: 15px;
        line-height: 15px;
    }

    .info p {
        font-size: 20px;
        line-height: 15px;
    }

    .info .slide-btn {
        font-size: 10px;
        font-weight: 600;
        padding: 10px;
    }

    .info.bottom-left {
        bottom: 30px;
        left: 50px;
    }

    .info.bottom-right {
        bottom: 30px;
        right: 30px;
    }
}

/* grid */
.grid-section {
    padding-top: 70px;
    background-color: #FFF9F4;

}

.container {
    margin-inline: 2rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 3rem;
    max-width: 1200px;
    margin-inline: auto;
}

.box {
    min-height: 200px;
    color: white;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-inline: 25px;
}
.box-img{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.box-img span{
    color: #fff;
    background: #2526259e;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0
}
.box-img .icon-label img{
    width: 30px;
    height: 30px;    
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 12rem;
    background-color: #ffff;
    border-radius: 50%;
}
.box-content {
    display: grid;
}

.box-1 .box-content img {
    text-align: center;
    color: #BF2525;
}

.box-1 .box-content h2 {
    font-family: Vonca;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #3B3A3C;
    margin-bottom: 5px;


}

.box-1 .box-content p {
    font-family: Gill Sans;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #3B3A3C;
    margin-top: 2px;


}

.box-1 .box-content a {
    padding: 18px 24px 18px 24px;
    gap: 10px;
    background: #BF2525;
    border: 1.5px solid #BF2525;
    font-family: Gill Sans;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;

}

.box-2 .box-img a img {
    width: 100%;
}

.box-2 .box-img p {
    font-family: Gill Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #3B3A3C;
    margin: 0;
}


@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .box {
        min-height: 300px;
    }
}

@media (min-width: 1000px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.autoSlide {
    align-items: center;
    background: #e3e3e3;
    display: flex;
    height: 100vh;
    justify-content: center;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: pr;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    /* width: calc(250px * 14); */
}

.slider .slide {
    height: 100px;
    width: 100%;
}

/* category */
.category {
    margin-top: 70px;
}

.category h1 {
    font-family: Vonca;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    color: #3B3A3C;

}

.card-area {
    /* min-height: 100vh; */
    display: flex;
    /* padding: 1.5rem; */
    align-items: center;
    justify-content: center;
}

.cards-container {
    color: white;
    margin: 1.5rem;
    display: flex;
    overflow: hidden;
    gap: 15px;
    /* margin-inline: auto; */
    /* margin: auto; */
    max-width: 910px;
}

.card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* flex-basis: 100%; */
}

@media (max-width: 850px) {
    .cards-container {
        flex-direction: column;
        max-width: 400px;
    }

    .card {
        width: unset;
        width: auto;
    }
    
}

.card h2 {
    text-transform: uppercase;
    font-family: Gill Sans;
font-size: 32px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0.02em;
text-align: center;

}

.card a {
    background: #BF2525;
    margin-top: auto;
    padding: 18px 20px 18px 20px;
    gap: 10px;
    font-family: Gill Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-inline:  auto;
    margin-top: 10px;

}

.orange-card {
    background-image: url("images/image\ \(4\).png");
}